<% @current_challenges.each do |challenge| %>
  <div class="challenge-box page-header">
    <!-- Assumption that time stamps will work as shown
         YYYY/MM/DD-->
    <%= challenge.title %>
    <br>
    Created by: <a href="/user/profile/<%= challenge.user_id %>"><%= challenge.user.first_name + ' ' + challenge.user.last_name %></a>
    <br>
    $<%= '%.2f' % challenge.wager %>
    <br>
    <a href="/challenges/<%= challenge.id %>">Click for details</a>
    <br>
    Time Left: <%= challenge.end_time - Time.current <= 0 ? 0 : (challenge.end_time - Time.current)/24   %>
  </div>
<% end %>
