<% @expired_challenges_creator.each do |challenge| %>
  <div class="challenge-box page-header">
    <strong><%= challenge.title %></strong>
    <br>
    Created by: <a href="/user/profile/<%= challenge.user_id %>"><%= challenge.user.first_name + ' ' +challenge.user.last_name[0] %></a>
    <br>
    Wager: $<%= '%.2f' % challenge.wager %>
    <br>
    <a href="/challenges/<%= challenge.id %>">Click for details</a>
    <br>
    <p>Time Left: <%= challenge.end_time - challenge.start_time %></p>
    <br>
  </div>
<% end %>
