<div>
  <div>
    <h1><%= @challenge.title %></h1>
    <div>
      <p>Created by:</p>
      <h3>@challenge.users</h3>
      <img src="/images/<%= @user.id %>_profile_photo.jpg" />
    </div>
  </div>
  <div>
    <h1>Bet: <%= @challenge.wager %></h1>
    <h1>Time left: <%= Time.current - @challenge.end_time %></h1>
  </div>
  <div>
    <% if is_judgeday %>
      <div>
        <h1>It's Judgment Day!</h1>
        <% is_photo %>
          <img id="proof_photo" src="/images/<%= @user.id %>_profile_photo.jpg">
        <% else %>
          <h1>Upload a photo for proof!</h1>
          <form id='proof_image_form' action="save_image" method="post" enctype="multipart/form-data">
            <input id='proof_image_input' type="file" name="file">
            <input type="submit" value="Upload image">
          </form>
        <% end %>
    <% elsif true %>

    <% end %>
  </div>
    <h1>Description:</h1>
    <p><%= @challenge.description %></p>
